.tesla-battery {
    width: 1050px;
    margin: 0 auto;
}

.tesla-center-div-in {
    float: left;
    position: relative;
    left: -50%;
}

.tesla-battery h1 {
    font-family: 'RobotoNormal', sans-serif;;
    font-weight: 100;
    font-size: 38px;
    text-align: center;
    letter-spacing: 3px;
}

.tesla-climate-container {
    float: left;
    width: 420px;
    padding: 0 0;    /* 0 40px*/
    margin: 0 0 0 0; /* 0 40px 0 0*/
    /*border-left: 1px solid #ccc;*/
    /*border-right: 1px solid #ccc;*/
}

.tesla-controls {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.tesla-controls-animation {
    -webkit-animation: slit-in-horizontal 0.45s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2.5s both;
    animation: slit-in-horizontal 0.45s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2.5s both;
}

@-webkit-keyframes slit-in-horizontal {
    0% {
        -webkit-transform: translateZ(-800px) rotateX(90deg);
        transform: translateZ(-800px) rotateX(90deg);
        opacity: 0;
    }
    54% {
        -webkit-transform: translateZ(-160px) rotateX(87deg);
        transform: translateZ(-160px) rotateX(87deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(0) rotateX(0);
        transform: translateZ(0) rotateX(0);
    }
}
@keyframes slit-in-horizontal {
    0% {
        -webkit-transform: translateZ(-800px) rotateX(90deg);
        transform: translateZ(-800px) rotateX(90deg);
        opacity: 0;
    }
    54% {
        -webkit-transform: translateZ(-160px) rotateX(87deg);
        transform: translateZ(-160px) rotateX(87deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(0) rotateX(0);
        transform: translateZ(0) rotateX(0);
    }
}
