@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto-Medium.eot');  /* sprawdź ścieżkę */
    src: local('../../fonts/Roboto Medium'), local('../../fonts/Roboto-Medium'),
    url('../../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../../fonts/Roboto-Medium.woff') format('woff'),
    url('../../fonts/Roboto-Medium.ttf') format('truetype'),
    url('../../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;

.tesla-battery {
    width: 1050px;
    margin: 0 auto;
}

.tesla-battery h1 {
    font-family: 'Roboto', sans-serif;;
    font-weight: 100;
    font-size: 38px;
    text-align: center;
    letter-spacing: 3px;
}